.card,
.disabled {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  border: 0.1px solid rgb(203, 203, 203);
}

.disabled {
  z-index: 0;
  background: rgb(152, 152, 152);
  border: 0.1px solid rgb(203, 203, 203);

  p {
    color: rgb(255, 255, 255);
  }
}

.card > p,
.disabled > p {
  height: 100%;
  display: flex;
  align-items: center;
  // background-color: aqua;
}

.card > p:first-child,
.disabled > p:first-child {
  position: absolute;
  z-index: 1;
  height: auto;
  // background-color: none;
  top: 0;
  right: 0;
}
